{% extends "base_email.html" %}
{% load i18n %}

{% block title %}
{% trans "Account Reactivation Notice" %}
{% endblock %}

{% block content %}
  <h1 style="font-size: 24px; color: #333; margin-bottom: 20px; text-align: center;">
    {% trans "Your Account Has Been Reactivated" %}
  </h1>

  <table style="width: 100%; max-width: 600px; margin: 0 auto; background-color: #ffffff; border: 1px solid #bababa; border-bottom: 0; padding: 30px; border-radius: 8px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); border-collapse: collapse;" cellspacing="0" cellpadding="0">
    <tr>
      <td style="padding: 16px;">
        <p style="font-size: 16px; color: #333; line-height: 1.6;">
          {% trans "Dear" %} {{ name }},
        </p>
        <p style="font-size: 16px; color: #333; font-weight: bold; line-height: 1.6;">
          {% trans "We're happy to inform you that your account" %} <strong>{{ email }}</strong> {% trans "has been successfully reactivated." %}
        </p>
        <p style="font-size: 16px; color: #333; line-height: 1.6;">
          {% trans "You now have full access to your account and our services." %}
          {% trans "If you have any issues, please reach out to our support team." %}
        </p>
        <p style="font-size: 16px; color: #333;">
          {% trans "Best regards," %}<br>
          {% trans "Sooq Al Thahab Support Team" %}
        </p>
      </td>
    </tr>
  </table>
{% endblock %}
