{% extends "base_email.html" %}
{% load i18n %}

{% block title %}
{% trans "OTP Verification Code" %}
{% endblock %}

{% block content %}
  <h1 style="font-size: 24px; color: #333; margin-bottom: 20px; text-align: center;">{% trans "OTP Verification Code" %}</h1>
  <table style="width: 100%; max-width: 600px; margin: 0 auto; background-color: #ffffff; border:0px solid #ffffff; border-bottom: 0; padding: 30px; border-radius: 8px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); border-collapse: collapse;" cellspacing="0" cellpadding="0">
    <tr>
      <td style="padding: 16px;">
        <p style="font-size: 16px; color: #333; line-height: 1.6;">{% trans "Hello" %} {{ fullname }},</p>
        <p style="font-size: 16px; color: #333; line-height: 1.6;">{% trans "We received a request to reset the password for your account." %}</p>
        <p style="font-size: 16px; color: #333; line-height: 1.6;">{% trans "If this was you, use the following code to reset your password." %}</p>
        <div style="font-size: 20px; text-align: center; font-weight: bold;">
          <div style="font-size: 20px; text-align: center; width: 200px; background-color: #CCB16A; padding: 8px 12px;margin:0 auto">{{ otp }}</div>
        </div>
        <p style="font-size: 16px; color: #333; line-height: 1.6;">{% trans "If you didn't request this, please ignore this email." %}</p>
        <p style="font-size: 16px; color: #333;">{% trans "Best regards," %}<br>{% trans "Sooq Al Thahab Support Team" %}</p>
      </td>
    </tr>
  </table>
{% endblock %}
