{% extends "base_email.html" %}
{% load i18n %}

{% block title %}
{% trans "Subscription Invoice" %}
{% endblock %}

{% block content %}
  <h1 style="font-size: 24px; color: #333; margin-bottom: 20px; text-align: center;">
    {% blocktrans with organization_name=organization_name %}
      {{ organization_name }} Subscription Invoice
    {% endblocktrans %}
  </h1>
  <table style="width: 100%; max-width: 600px; margin: 0 auto; background-color: #ffffff; border:0px solid #ffffff; border-bottom: 0; padding: 30px; border-radius: 8px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); border-collapse: collapse;" cellspacing="0" cellpadding="0">
    <tr>
      <td style="padding: 16px;">
        <p style="font-size: 16px; color: #333; line-height: 1.6; margin-bottom: 16px;">
          {% blocktrans %}Dear {{ display_name }},{% endblocktrans %}
        </p>

        <p style="font-size: 16px; color: #333; line-height: 1.6; margin-bottom: 16px;">
          {% trans "Please find attached your invoice for" %} <strong>{{ plan_name }}</strong> {% trans "subscription." %}
        </p>

        <table style="font-size: 16px; color: #333; margin: 16px 0; width: 100%;">
          <tr>
            <td style="font-weight: bold; padding: 4px 0;">{% trans "Invoice Number" %}:</td>
            <td style="padding: 4px 0;">{{ invoice_number }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold; padding: 4px 0;">{% trans "Subscription Plan" %}:</td>
            <td style="padding: 4px 0;">{{ plan_name }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold; padding: 4px 0;">{% trans "Billing Period" %}:</td>
            <td style="padding: 4px 0;">{{ plan_start_date }} to {{ plan_end_date }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold; padding: 4px 0;">{% trans "Amount" %}:</td>
            <td style="padding: 4px 0;">{{ subscription_amount|floatformat:2 }} ({% trans "VAT Included" %})</td>
          </tr>
        </table>

        <p style="font-size: 16px; color: #333; line-height: 1.6;">
          {% trans "Your payment has been successfully processed. The invoice for your transaction is attached below." %}
        </p>

        <p style="font-size: 16px; color: #333; line-height: 1.6;">  {% trans "If you have any questions, please feel free to contact our support team." %}</p>

        <p style="font-size: 16px; color: #333; line-height: 1.6; margin-top: 15px;">
          {% trans "Best regards," %}<br>
          {% trans "Sooq Al Thahab Accounts Team" %}
        </p>
      </td>
    </tr>
  </table>
{% endblock %}
