version: '3.12'

services:
  db:
    image: postgres:15
    container_name: sooq_althahab_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - ./db_data:/var/lib/postgresql/data
  redis:
    image: redis:latest
    container_name: sooq_althahab_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ./redis_data:/data
