{% extends "invoice/base_invoice.html" %}
{% load i18n static %}

{% block title %}{% trans "Tax_Invoice" %}{% endblock %}

{% block content %}
<table cellpadding="0" cellspacing="0" style="width: 100%; border-collapse: collapse;">
  <tbody>
    <tr>
      <td align="center" colspan="3" style="padding-bottom: 58px;">
        <h4 class="receipt-title">{% trans "TAX INVOICE" %}</h4>
      </td>
    </tr>

    <tr>
      <td colspan="3" style="padding-bottom: 40px">
        <table class="billing-header-table">
          <tr>
            <td style="vertical-align: top; width: 24%;">
              <div>
                <h6 class="section-title">{% trans "Invoice No" %}</h6>
                <span class="section-text">{{ transaction.receipt_number }}</span>
              </div>
              <div>
                <h6 class="section-title">{% trans "Date" %}</h6>
                <span class="section-text">{{ date }}</span>
              </div>
            </td>
            <td style="vertical-align: top; width: 40%;">
              <h6 class="section-title">{% trans "Bill To" %}</h6>
              <strong class="section-text">{{ user_details.user_fullname|default_if_none:"N/A" }}</strong>
              <p class="section-text"><strong>{% trans "Address:" %}</strong> {% if user_details.address %}{{ user_details.address }}{% else %}N/A{% endif %}</p>
              <p class="section-text"><strong>{% trans "Country:" %}</strong> {% if user_details.country %}{{ user_details.country }}{% else %}N/A{% endif %}</p>
              <p class="section-text"><strong>{% trans "ID:" %}</strong> {{ user_details.id|default_if_none:"N/A" }}</p>
              <p class="section-text"><strong>{% trans "Phone:" %}</strong> {{ user_details.phone_number|default_if_none:"N/A" }}</p>
            </td>
            <td style="vertical-align: top; width: 40%;">
              <h6 class="section-title">{% trans "Sold By" %}</h6>
              <strong class="section-text">{{ organization_details.name }}</strong>
              <p class="section-text"><strong>{% trans "Address:" %}</strong> {{ organization_details.address }}</p>
              <p class="section-text"><strong>{% trans "Country:" %}</strong> {{ organization_details.country }}</p>
              <p class="section-text"><strong>{% trans "CR No:" %}</strong> {{ organization_details.commercial_registration_number }}</p>
              <p class="section-text"><strong>{% trans "VAT Acc No:" %}</strong> {{ organization_details.vat_account_number }}</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td colspan="3" style="border-left: 3px solid #ccb16a; padding-left: 20px;  padding-top: 0; padding-bottom: 0; line-height: normal;">
        <table style="width: 100%;">
          <tr>
            <td style="padding: 0; font-weight: 700; line-height: normal; font-size: 16px;">{{ title }}</td>
          </tr>
          <tr>
            <td colspan="3" style="padding: 0; line-height: normal;">
              <table class="subscription-details-table">
                {% include "musharakah_contract/fields.html" %}
                <tfoot>
                  <tr>
                    <td colspan="5" class="total-amount-label" style="padding-top: 10px; color: #1A1C21;">{% trans "Sub Total" %}</td>
                    <td class="total-amount-label text-right" style="padding-top: 10px; font-weight: 400;">{{ billing.currency|default:"BHD" }} {{ sub_total_amount|default:0|floatformat:2 }}</td>
                  </tr>
                  <tr>
                    <td colspan="5" style="font-weight: 600; color: #1A1C21;">{% trans "Add " %}{{ organization_details.name }}{% trans " Service Fees" %}</td>
                    <td class="text-right">{{ billing.currency|default:"BHD" }} {{ transaction.platform_fee|default:0|floatformat:2 }}</td>
                  </tr>
                  <tr>
                    <td colspan="5" style="font-weight: 600; color: #1A1C21;">
                      {% trans "Add VAT" %}
                      ({% widthratio transaction.vat_rate|default:0 1 100 as vat_percent %}{{ vat_percent }}%)
                    </td>
                    <td class="text-right">
                      {{ billing.currency|default:"BHD" }}
                      {{ transaction.vat|default:0|floatformat:2 }}
                    </td>
                  </tr>

                  <tr>
                    <td colspan="5" style="font-weight: bold; color: #000000; padding: 5px 0 0; border-top: 1px solid #d7dae0; font-size: 15px; vertical-align: bottom; line-height: normal;">
                      <p style="margin-bottom: -7px;">
                        {% trans "Total" %}
                      </p>
                    </td>
                    <td align="right" style="font-weight: bold; color: #000000; text-align: right; padding: 5px 0 0; border-top: 1px solid #d7dae0; font-size: 15px; vertical-align: bottom; line-height: normal;">
                      <p style="margin-bottom: -7px;">{{ billing.currency|default:"BHD" }} {{ transaction.amount|default:0|floatformat:2 }}</p>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}
