{% extends "invoice/base_invoice.html" %}
{% load i18n static %}

{% block title %}{% trans "Tax Invoice" %}{% endblock %}

{% block content %}
<table cellpadding="0" cellspacing="0" style="width: 100%; border-collapse: collapse;">
  <tbody>
    <tr>
      <td align="center" colspan="3" style="padding-bottom: 40px; padding-top: 10px">
        <h4 class="receipt-title">{% trans "TAX INVOICE" %}</h4>
      </td>
    </tr>

    <tr>
      <td colspan="3" style="padding-bottom: 40px">
        <table class="billing-header-table">
          <tr>
            <td style="vertical-align: top; width: 33%;">
              <div>
                <h6 class="section-title">{% trans "Invoice No" %}</h6>
                <span class="section-text">{{ billing.invoice_number|default:"N/A" }}</span>
              </div>
              <div>
                <h6 class="section-title">{% trans "Date" %}</h6>
                <span class="section-text">{{ transaction_date|date:"d/m/Y" }}</span>
              </div>
            </td>
            <td style="vertical-align: top; width: 33%;">
              <h6 class="section-title">{% trans "Bill To" %}</h6>
              <strong class="section-text">{{ business.name|default:user_fullname }}</strong>
              <p class="section-text"><strong>{% trans "Email:" %}</strong> {{ business_user.email }}</p>
              <p class="section-text"><strong>{% trans "Address:" %}</strong> {{ business_user_details.address }}</p>
              <p class="section-text"><strong>{% trans "Country:" %}</strong> {{ business_user_details.country }}</p>
              <p class="section-text"><strong>{% trans "Phone:" %}</strong> {{ business_user_details.phone }}</p>
            </td>
            <td style="vertical-align: top; width: 34%;">
              <h6 class="section-title">{% trans "Bill From" %}</h6>
              <strong class="section-text">{{ organization_details.name }}</strong>
              <p class="section-text"><strong>{% trans "Address:" %}</strong> {{ organization_details.address }}</p>
              <p class="section-text"><strong>{% trans "Country:" %}</strong> {{ organization_details.country }}</p>
              <p class="section-text"><strong>{% trans "VAT Acc No:" %}</strong> {{ organization_details.vat_account_number }}</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td colspan="3" class="border-left-highlight">
        <table style="width: 100%;">
          <tr>
            <td style="font-weight: 600; padding-bottom: 10px;">{% trans "Subscription details" %}</td>
          </tr>
          <tr>
            <td colspan="3">
              <table class="subscription-details-table">
                <thead>
                  <tr align="left">
                    <th>{% trans "Description" %}</th>
                    <th style="text-align: center"></th>
                    <th style="text-align: right";>{% trans "Amount" %}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <strong>{% trans "Subscription fees:" %}</strong><br>
                      {{ plan_business_type|default:subscription_plan.business_type }}<br>
                      {{ plan_name|default:subscription_plan.name }}<br>
                      {% trans "From" %} {{ billing.period_start_date|date:"d/m/Y" }} {% trans "To" %} {{ billing.period_end_date|date:"d/m/Y" }}
                    </td>
                    <td style="overflow-wrap: break-word; word-wrap: break-word; word-break: break-all; width: 150px; text-align: center;">
                    </td>
                    <td class="text-right">{{ billing.currency|default:"BHD" }} {{ billing.base_amount|floatformat:2 }}</td>
                  </tr>
                  <tr><td style="height: 100px;"></td><td colspan="3"></td></tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2" class="total-amount-label" style="padding-top: 10px; color: #1A1C21;">{% trans "Sub Total" %}</td>
                    <td class="total-amount-label text-right" style="padding-top: 10px; font-weight: 400;">{{ billing.currency|default:"BHD" }} {{ billing.base_amount|floatformat:2 }}</td>
                  </tr>
                  {% if billing.service_charges != '0.00' and billing.service_charges %}
                    <tr>
                      <td colspan="2" style="font-weight: 600; color: #1A1C21;">{% trans "Service Fees" %}</td>
                      <td class="text-right">{{ billing.currency|default:"BHD" }} {{ billing.service_charges|default:0|floatformat:2 }}</td>
                    </tr>
                  {% endif %}
                  {% if billing.commission_fee != '0.00' and billing.commission_fee %}
                    <tr>
                      <td colspan="2" style="font-weight: 600; color: #1A1C21;">{% trans "Commission Fees" %}</td>
                      <td class="text-right">{{ billing.currency|default:"BHD" }} {{ billing.commission_fee|floatformat:2 }}</td>
                    </tr>
                  {% endif %}
                  <tr>
                    <td colspan="2" style="font-weight: 600; color: #1A1C21;">{% trans "Add VAT" %} (
                      {% widthratio billing.vat_rate 1 100 as vat_percent %}
                      {{ vat_percent }}%
                    )</td>
                    <td class="text-right">{{ billing.currency|default:"BHD" }} {{ billing.vat_amount|floatformat:2 }}</td>
                  </tr>
                  {% if billing.tax_amount != '0.00' and billing.tax_amount %}
                    <tr>
                      <td colspan="2" style="font-weight: 600; color: #1A1C21;">{% trans "Tax" %} (
                        {% widthratio billing.tax_rate 1 100 as tax_percent %}
                        {{ tax_percent }}%
                      )</td>
                      <td class="text-right">{{ billing.currency|default:"BHD" }} {{ billing.tax_amount|floatformat:2 }}</td>
                    </tr>
                  {% endif %}
                  <tr>
                    <td colspan="2" class="total-amount-label">{% trans "Total" %}</td>
                    <td class="total-amount-value text-right">{{ billing.currency|default:"BHD" }} {{ billing.total_amount|floatformat:2 }}</td>
                  </tr>
                </tfoot>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}
